# Python
__pycache__/
*.py[cod]
*.class
venv/
env/

# Node
node_modules/
npm-debug.log

# IDEs
.vscode/
.idea/

# Environment variables
.env
.env.local

# Operating System
.DS_Store
Thumbs.db

# Build files
dist/
build/
